
.titulo2 {
    text-decoration: none;
    color: #000000;
    font-size: 50px;
    margin-right: 5rem;
    margin-top: 10px;

}
.div-del-body2{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  float: right;
  border: 6px double #000;
  margin-left:30px ;
  margin-right: 5px;
  min-height: 320px;
  max-height: 500px;
  overflow-y: auto;
}

.form3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  float: right;
  border: 6px double #000;
  margin-left:30px ;
  margin-right: 5px;
  min-height: 320px;
  max-height: 500px;
  overflow-y: auto;
}
.div-del-body2 th,
.div-del-body2 td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}
.boton-tickets{
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
 border: 2px solid transparent;
 margin: 5px;
 display: inline-block;
font-weight: bold;
}
.boton-tickets:hover{
  background-color: orangered;
  border: 2px solid black;
  color: white;
}
@media (max-width: 768px) {
  .body2 {
    display: flow-root;
    
  }
  
  .div-del-body2 {
    width: 100%; 
    margin: 0 ;
    padding: 0px;
    overflow-x: hidden;
  }
  .form3 {
    width: 100%; 
    margin: 0 auto;
    
  }
}


