.slider {
  background-size: cover;
  background-position: center;
  animation-name: slider;
  animation-duration: 20s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slider {
  0% {
    background-image: url(../IMG/img1.jpg.png);
  }
  16.67% {
    background-image: url(../IMG/img2.jpg.png);
  }
  33.33% {
    background-image: url(../IMG/img3.jpg.png);
  }
  50% {
    background-image: url(../IMG/img4.jpg.png);
  }
  66.67% {
    background-image: url(../IMG/img5.jpg.png);
  }
  83.33% {
    background-image: url(../IMG/img6.jpg.png);
  }
  100% {
    background-image: url(../IMG/img1.jpg.png);
  }
}

